<h2>Stwórz posta</h2>
<div *ngIf="errorMessage" class="alert alert-warning" role="alert">
    {{errorMessage}}
</div>
<div class="form-group">
        <textarea placeholder="Post content" class="form-control" [(ngModel)]="newPostRequest.message"
                  rows="3"></textarea>
</div>
<div class="form-group">
    <input [(ngModel)]="newPostRequest.imagePath" type="text" maxlength="200" placeholder="Image URL"
           class="form-control">
</div>
<div class="form-group">
    <button id="signupSubmit" type="submit" class="btn btn-info btn-block" (click)="createPost()">Wyślij</button>
</div>