<post [shouldDisplayCommentLink]="false" [post]="post"></post>
<h2>Komentarze</h2>
<comments-list [post]="post"></comments-list>
<new-comment-form  (onNewComment)="onNewComment($event)" *ngIf="shouldDisplayNewCommentForm()" [post]="post"></new-comment-form>
