<div [class.col-sm-4]="shouldDisplayAsTiles">
    <div *ngIf="post && !isInEditMode" class="card">
        <div class="card-block">
            <h4 class="card-title">
                <a [routerLink]="['/user', post.user.name]">
                    <img src="{{post.user.avatarPath}}" width="25" height="25" class="avatar-icon d-inline-block align-top" alt=""></a>
                <a [routerLink]="['/user', post.user.name]">
                    <strong>{{post.user.name}}</strong>
                </a>
            </h4>
            <h6 class="card-subtitle text-muted">{{post.postDate}}</h6>
        </div>
        <div *ngIf="post.imagePath && shouldDisplayAsTiles" class="card-block card-tile">
            <a [routerLink]="['/posts', post.id]">
                <img (click)="showImageModal()" [src]="post.imagePath" [class.tile-img]="shouldDisplayAsTiles" [class.full-width-tile-img]="!shouldDisplayAsTiles" />
            </a>
        </div>
        <div class="card-block">
            <p class="card-text" [class.card-text-tile]="shouldDisplayAsTiles" [class.card-text-tile-flexible]="!shouldDisplayAsTiles" [innerHtml]="post.message | addhashtaglinks"></p>
        </div>
        <div *ngIf="shouldDisplayCommentLink" class="card-footer">
            <a class="card-link" [routerLink]="['/posts', post.id]">Komentarze</a>
        </div>
        <div *ngIf="post.imagePath && !shouldDisplayAsTiles" class="card-block card-full-width">
            <img (click)="showImageModal()" [src]="post.imagePath" [class.tile-img]="shouldDisplayAsTiles" [class.full-width-tile-img]="!shouldDisplayAsTiles" />
        </div>
        <div *ngIf="post.imagePath && !shouldDisplayAsTiles && isImageModalVisible" class="modal-img-container">
            <img [src]="post.imagePath" class="modal-img" (click)="hideImageModal()" />
        </div>
        <div *ngIf="!shouldDisplayAsTiles && isAllowedToEdit()">
            <button (click)="markForEdit()" type="button" class="btn btn-default" style="float: right">Edytuj</button>
        </div>
        <div *ngIf="!shouldDisplayAsTiles && isAllowedToDelete()">
            <button (click)="deletePost()" type="button" class="btn btn-default" style="float: right">Usuń</button>
        </div>
    </div>
    <div *ngIf="isInEditMode">
        <edit-post-form [post]="post"></edit-post-form>
    </div>
</div>
<div *ngIf="!post" class="panel panel-default">
    <div class="panel-body">
        <p>
            Nie udało się znaleźć posta.
        </p>
    </div>
</div>
