<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Udało się!</h4>
    <p class="mb-0">Masz już konto w serwisie. Teraz możesz się <a routerLink="/signin">zalogować.</a></p>
</div>