<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="form-group">
                    <h2>Stwórz konto</h2>
                </div>
                <div *ngIf="errorMessage" class="alert alert-warning" role="alert">
                    {{errorMessage}}
                </div>
                <div class="form-group">
                    <label class="control-label">Nazwa użytkownika</label>
                    <input [(ngModel)]="signupRequest.name" type="text" maxlength="50" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input [(ngModel)]="signupRequest.email" type="email" maxlength="50" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Hasło</label>
                    <input [(ngModel)]="signupRequest.password" type="password" maxlength="25" class="form-control"
                           placeholder="at least 6 characters" length="40">
                </div>
                <div class="form-group">
                    <label class="control-label">Hasło ponownie</label>
                    <input [(ngModel)]="signupRequest.repeatedPassword" type="password" maxlength="25"
                           class="form-control">
                </div>
                <div class="form-group">
                    <button id="signupSubmit" type="submit" class="btn btn-info btn-block" (click)="signup()">Stwórz konto

                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
