<h2>Najnowsze posty z tagiem <strong>#{{tag}}</strong></h2>
<div class="card card-block">
    <tag-stats type="single-tag" [tag]="tag" chartHeight="50px"
               [titleConf]="{display: true, text: 'Liczba postów z tagiem #' + tag + ' w poszczególnych miesiącach'}"></tag-stats>
</div>
<post *ngFor="let post of posts" [post]="post" [shouldDisplayAsTiles]="true"></post>
<div *ngIf="posts && posts.length === 0">
    <div class="card">
        <div class="card-block">
            <p class="card-text">Brak postów!</p>
        </div>
    </div>
</div>