<div class="card card-block">
    <h2>Popularność tagów w tym roku</h2>
    Miesiąc:
    <select [(ngModel)]="chosenMonth">
        <option *ngFor="let month of months" [value]="month">{{month}}</option>
    </select>
    <tag-stats [chosenMonth]="chosenMonth"></tag-stats>
</div>
<div class="card card-block">
    <h2>Popularność serwisu</h2>
    <post-stats></post-stats>
</div>


