<h2>Edytuj komentarz</h2>
<div *ngIf="errorMessage" class="alert alert-warning" role="alert">
    {{errorMessage}}
</div>
<div class="form-group">
    <textarea placeholder="Comment message" class="form-control" [(ngModel)]="editCommentRequest.message" rows="3"></textarea>
</div>
<div class="form-group">
    <button type="button" class="btn btn-info btn-block" (click)="editComment()">Zapisz</button>
</div>
