<div class="container">
    <nav class="navbar navbar-light bg-faded">
        <ul class="nav navbar-nav float-xs-left">
            <li>
                <a class="navbar-brand" routerLink="/wall">
                <img src="../assets/bulb.png" width="30" height="30" class="d-inline-block align-top" alt="">
                Sparky
            </a>
            </li>
        </ul>
        <ul class="nav navbar-nav float-xs-right">
            <li *ngIf="!authService.isLogged()" class="nav-item">
                <a class="nav-link" routerLink="/signin">Zaloguj się</a>
            </li>
            <li *ngIf="!authService.isLogged()" class="nav-item">
                <a class="nav-link" routerLink="/signup">Zarejestruj się</a>
            </li>
            <li *ngIf="authService.isLogged()" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img [src]="avatarPath" width="25" height="25" class="avatar-icon d-inline-block align-top" alt="">
                    {{authService.getUsername()}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" [routerLink]="['/user', authService.getUsername()]">Profil</a>
                    <a class="dropdown-item" routerLink="/signout">Wyloguj się</a>
                </div>
            </li>
        </ul>
    </nav>
</div>
<!-- Page Content -->
<div class="container">
    <router-outlet></router-outlet>
</div>