.loader-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

body {
    padding-top: 1em;
}

.icon-logo {
    width: 30px;
    height: 30px;
}

.avatar-icon {
    margin-right: 5px;
}

.navbar {
    margin-bottom: 15px;
}

.card-tile {
    padding: 0 !important;
    overflow: hidden;
    height: 180px;
}

.card-text-tile {
    height: 115px;
    overflow: hidden;
}

.card-text-tile-flexible {
    max-height: 115px;
    overflow: hidden;
}

.card-full-width {
    padding: 0 0 2em auto !important;
}

.tile-img {
    width: 338px;
    object-fit: cover;
    display: block;
    cursor: pointer;
}

.full-width-tile-img {
    max-height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.post-text {
    text-overflow: ellipsis;
}

.jumbo-content {
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 3px;
}

.modal-img {
    display: block;
    max-width:80%;
    max-height:80%;
    width: auto;
    height: auto;
    cursor: pointer;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.jumbo {
    background-image: url('../assets/jumbo/2.jpg');
    background-size: cover;
}

.modal-img-container {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    cursor: pointer;
}

.toptaglink {
    font-size: 16pt;
    margin-right: 0.5em;
}

.wallSection {
    margin-bottom: 2em;
}

.card-stats-canvas {
    height: 400px !important;
    width: 400px !important;
}