<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="form-group">
                    <h2>Zaloguj się</h2>
                </div>
                <div  *ngIf="errorMessage" class="alert alert-warning" role="alert">
                    {{errorMessage}}
                </div>
                <div class="form-group">
                    <label class="control-label">Nazwa użytkownika</label>
                    <input [(ngModel)]="signinRequest.userName" type="text" maxlength="50" class="form-control" >
                </div>
                <div class="form-group">
                    <label  class="control-label">Hasło</label>
                    <input [(ngModel)]="signinRequest.password" class="form-control" maxlength="25" type="password">
                </div>
                <div class="form-group">
                    <button (click)="signin()" value="zaloguj" class="btn btn-info btn-block">Zaloguj</button>
                </div>
            </div>
        </div>
    </div>
</div>