<div *ngFor="let comment of comments" class="panel panel-default">
    <div class="card" *ngIf="!shouldDisplayAsTiles && !isInEditMode(comment)">
        <div class="card-header">
            <a [routerLink]="['/user', post.user.name]">
                <img src="{{post.user.avatarPath}}" width="25" height="25" class="avatar-icon d-inline-block align-top" alt=""></a>
            <strong><a [routerLink]="['/users', comment.user.name]">{{comment.user.name}}</a></strong>
            <small class="text-muted float-xs-right">{{comment.postedAt}}</small>
        </div>
        <div class="card-block" >
            <p class="card-text">{{comment.message}}</p>
        </div>
    </div>
        <div *ngIf="!shouldDisplayAsTiles && !isInEditMode(comment) && isAllowedToEdit(comment)" style="margin-bottom: 50px;">
            <button (click)="markForEdit(comment)" type="button" class="btn btn-default" style="float: right">Edytuj</button>
        </div>
    <div *ngIf="isInEditMode(comment)">
        <edit-comment-form (onEditedComment)="onEditedComment($event)" [comment]="comment"></edit-comment-form>
    </div>
</div>
<div *ngIf="comments && comments.length === 0">
    <div class="card">
        <div class="card-block">
            <p class="card-text">Brak komentarzy!</p>
        </div>
    </div>
</div>