<div>
    <div>
        <h2>Użytkownik <strong>{{userName}}</strong></h2>
        <p>
            <a href="javascript:void(0)" (click)="activateTab('posts')">Posts</a>
            <a href="javascript:void(0)" (click)="activateTab('comments')">Comments</a>
        </p>
    </div>
    <div *ngIf="isTabActive('posts')">
        <post *ngFor="let post of posts" [post]="post" [shouldDisplayAsTiles]="true"></post>
    </div>
    <div *ngIf="isTabActive('comments')">
        <div *ngFor="let comment of comments" class="panel panel-default">
            <div class="card">
                <div class="card-header">
                    <a [routerLink]="['/user', comment.user.name]">
                        <img src="{{comment.user.avatarPath}}" width="25" height="25"
                             class="avatar-icon d-inline-block align-top" alt=""></a>
                    <strong><a [routerLink]="['/users', comment.user.name]">{{comment.user.name}}</a></strong>
                    <small class="text-muted float-xs-right">{{comment.postedAt}}</small>
                </div>
                <div class="card-block">
                    <p class="card-text">{{comment.message}}</p>
                </div>
            </div>
        </div>
    </div>
</div>