<div style="display: block">
    <canvas baseChart class="barChartLarge" [style.height]="sanitizedChartHeight"
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [colors]="barChartBarColor"
            [legend]="barChartLegend"
            [chartType]="barChartType"></canvas>
</div>

