<div class="jumbotron jumbo wallSection" *ngIf="!authService.isLogged()">
    <div class="jumbo-content">
        <h1 class="display-3">Witaj w Sparky</h1>
        <p class="lead">Dziel się wszystkim, co tylko chcesz. Społeczność Sparky czeka na Twoje wpisy!</p>
        <p class="lead">Załóż darmowe konto już teraz.</p>
        <a class="btn btn-primary btn-lg" routerLink="/signup" role="button">Załóż konto</a>
        <hr class="my-2">
        <p>Masz już konto w Sparky? <a routerLink="/signin">Zaloguj się.</a></p>
    </div>
</div>
<div class="wallSection">
    <new-post-form *ngIf="shouldDisplayNewPostForm()"></new-post-form>
</div>
<div class="wallSection">
    <h2>Najpopularniejsze tagi <a class="btn btn-primary" style="margin-left: 1em" routerLink="/stats">Zobacz statystyki</a></h2>
    <popular-tags></popular-tags>
</div>
<div class="wallSection">
    <h2>Najnowsze posty</h2>
    <post *ngFor="let post of posts" [post]="post" [shouldDisplayAsTiles]="true"></post>
    <div *ngIf="posts && posts.length === 0">
        <div class="card">
            <div class="card-block">
                <p class="card-text">Brak postów!</p>
            </div>
        </div>
    </div>
</div>
