<h2>Edit post</h2>
<div *ngIf="errorMessage" class="alert alert-warning" role="alert">
    {{errorMessage}}
</div>
<div class="form-group">
        <textarea placeholder="Post content" class="form-control" [(ngModel)]="editPostRequest.message"
                  rows="3"></textarea>
</div>
<div class="form-group">
    <input [(ngModel)]="editPostRequest.imagePath" type="text" maxlength="200" placeholder="Image URL"
           class="form-control">
</div>
<div class="form-group">
    <button type="button" class="btn btn-info btn-block" (click)="editPost()">Zapisz</button>
</div>